!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", user-scalable=no,
    intial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Layout Basica</title>
</head>
<body>
    
    <div class="contenedor">
        <header>
            <nav>

                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Conducto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="img/bg.png" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del Articulo</h2>
                    <p>Algunos agujeros negros, los de masa estelar, son el resultado del final catastrófico de una estrella muy masiva
                    que implosiona tras explotar como supernova, mientras que los más masivos (agujeros negros supermasivos), que se
                    cree que conforman el centro de la mayoría de las galaxias, se pueden formar mediante dos mecanismos: por una 
                    lenta acumulación de materia o por presión externa. Según la teoría de la relatividad general, cualquier cuerpo 
                    cuya masa se comprima hasta adoptar un radio suficientemente pequeño, se convierte en un agujero negro.</p>

                    Algunos agujeros negros, los de masa estelar, son el resultado del final catastrófico de una estrella muy masiva
                    que implosiona tras explotar como supernova, mientras que los más masivos (agujeros negros supermasivos), que se
                    cree que conforman el centro de la mayoría de las galaxias, se pueden formar mediante dos mecanismos: por una 
                    lenta acumulación de materia o por presión externa. Según la teoría de la relatividad general, cualquier cuerpo 
                    cuya masa se comprima hasta adoptar un radio suficientemente pequeño, se convierte en un agujero negro.
                </article>
            </section>
        </section>  

        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Mi primera pagina web</a></li>
                    <li><a href="#">Mi primera pagina web</a></li>
                    <li><a href="#">Mi primera pagina web</a></li>
                    <li><a href="#">Mi primera pagina web</a></li>
                    <li><a href="#">Mi primera pagina web</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <p>Algunos agujeros negros, los de masa estelar, son el resultado del final catastrófico de una estrella muy masiva
                que implosiona tras explotar como supernova, mientras que los más masivos (agujeros negros supermasivos), que se
                cree que conforman el centro de la mayoría de las galaxias, se pueden formar mediante dos mecanismos: por una 
                lenta acumulación de materia o por presión externa. Según la teoría de la relatividad general, cualquier cuerpo 
                cuya masa se comprima hasta adoptar un radio suficientemente pequeño, se convierte en un agujero negro.</p>
            </div>
        </aside>  

        <footer>
            <p>Carlos Arturo 2016 - Todos los Derechos Reservados</p>
        </footer>  
    </div>
</body>
</html>